*{
  margin: 0;
  padding: 0;
}

.container{
  background-color: darkgray;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: space-between; 
  padding-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content h2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tag {
  display: flex;
  gap: 10px;
}

.tag p{
  background-color: gray;
  border-radius: 10px;
  padding: 5px;
}

.time{
  display: flex;
  gap: 10px;
}

.time p{
  padding: 5px;
}

.content img {
  width: 100%;
  border-radius: 10px;
}