*{
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.content{
  background-color: darkgray;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
}

.avt img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main-content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content h2{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tag{
  display: flex;
  gap: 10px;
}

.tag p{
  background-color: gray;
  border-radius: 10px;
  padding: 5px;
}

#tag-icon{
  align-self: center;
}

.time{
  display: flex;
  gap: 10px;
}

.time p{
  padding: 5px;
}

.main-content img{
  width: 100%;
  border-radius: 10px;
}

.footer{
  display: flex;
  justify-content: space-between; 
  padding-top: 10px;
}