.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.card img{
  width: 40%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;

}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 25px;
  font-weight: bold;
  color: #e91e63;
}

.price{
  font-size: 24px;
  font-weight: bold;
  color: #e91e63;
}

.btn-add{
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}