.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  background-color: orange;
  height: 100px;
  width: 100%;
}

.content{
  display: flex;
  flex: 1;
}

.sidebar{
  background-color: blue;
  width: 200px;
}

.main-content{
  background-color: red;
  width: 100%;
}

.footer{
  background-color: green;
  height: 100px;
  width: 100%;
}