.wrapper{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header{
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  flex: 1;
  background-color: #f5f5f5;
}